.bg-gray{
    background-color: gainsboro;
}


.ayrac{
    border:none;
    color: black;
    border: 3px solid #6f9400;
    max-width: 250px;
    margin: 25px auto;
}

.leaf{
    position: relative;
    top: -60px;
    background-color: gainsboro;
}

.card-hover img:hover{
    opacity: 0.9;

}